#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=CloudFlare
Exec=/usr/bin/python3 %HOME%/.local/bin/warp-gui.py
Icon=warp-gui-app
Comment=CloudFlare WARP/TEAM graphic user interface
Categories=Utility;Application
Hidden=false
